
.search-form input {
    padding: 1rem;
    font-size: 1rem;
    border-width: 1.3px;
    border-radius: 0.5rem;
    width: 20rem;
    margin-bottom: 1rem;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#heading{
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    font-size: 1rem;
    font-weight: 400;
    }

      